body {
  background-color: #333;
  color: #CCC;
  font-family: sans-serif;
}

table {
  width: 100%;
  border-spacing: 0;
}

table tr td {
  padding: 10px;
  background-color: #AAA;
  transition: .2s;
  color: #333;
}

table tr:nth-child(even) td {
  background-color: #CCC;
}

table tr:hover td {
  padding: 10px 10px 25px 10px;
  transition: .2s;
  background-color: #333;
  color: #FFF;
}
